<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">{{nombre}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-page ion-padding">
  <ion-list class="bgInicioImg">
    <ion-grid>
      <ion-row *ngIf="!integrantes" class="ion-justify-content-center">
        <h4 style="color: #666666">
          <strong>
            Sin Resultados
          </strong>
        </h4>
      </ion-row>
      <ng-container *ngFor="let item of integrantes | async">
        <ion-row>
          <ion-icon class="nameIcon" name="person"></ion-icon>
          <h5 class="namesSch">
            <strong>{{ item.alias }}</strong>
          </h5>
        </ion-row>
      </ng-container>
    </ion-grid>
  </ion-list>
</ion-content>
