// Brand colors
$cyan: #0079c8;
$navy: #00335b;
$gray: #f1efeb;
$grayblack: #333333;
$white: #ffffff;
$subtitle: #737373;

//Basic colors
$black: #1C1D21;
$light_white: #ffffff;

//Colors Estates
$EnProceso: #FF6A13;
$AIniciar: #FFC600;
$Completado: #00966C;

//Alertas
$txterror: #dc3545;
$txtcheck: #198754;

/* titles */
$bigfont: 40px;
$bold: bold;

/* Fuentes */
$font: 'Montserrat', sans-serif;


/* margenes */
.mt-5{
    margin-top: 30px;
}