ion-textarea {
  // background-image: url(../../../assets/img/bglogin@2x.jpg);
  --background: #ffffff;
  --color: #000000;
  --padding-end: 10px;
  --padding-start: 10px;
  --placeholder-color: #7c7777;
  // --placeholder-opacity: 50;
  // fill-opacity: 60;
  // opacity: 0.1;
  font-size: medium;
  // --background: #000000;
  // --color: #0a0a0a;
  // --padding-end: 10px;
  // --padding-start: 10px;
  // --placeholder-color: #050505;
  // --placeholder-opacity: 0.8;
  // border-width: 2px;
  // border-color: #000000;
}

// ion-content {
// margin-top: 10%;
// width: 100%;
// height: 95%;
// overwrite inline styles
// --offset-bottom: auto !important;
// --overflow: hidden;
// overflow: auto;
// align-items: center;
// &::-webkit-scrollbar {
//   display: none;
// }

// width: 90%;
// height: 90%;

// }

// .bgInicio {
//   margin-top: 10%;
//   width: 100%;
//   height: 95%;
//   // background-image: url(../../../assets/img/bglogin@2x.jpg);
//   // background-size: cover;
//   // background-repeat: no-repeat;
//   // background-position: bottom;
// }

// .formulario {
//   // background-color: red;
//   // border-color: red;
//   margin-top: 25%;
//   width: 100%;
//   height: 95%;
// }

// ion-textarea {
//   // padding: 4%;
//   background-color: currentColor;
//   // text-decoration-color: black;


// }

// ion-label {
//   align-items: center;
//   text-align: center;
//   padding: 5%;
// }

// ion-label {
//   word-wrap: break-word;
//   text-align: left;
//   text-rendering: auto;
//   width: 40%;
// }

// ion-row {
//   text-decoration-color: black;
// }