<app-header [titulo]="nombre"></app-header>

<ion-content class="ion-page ion-padding" fullscreen="true">
  <ion-list class="bgInicioNoImg">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Llave Combinada</ion-card-subtitle>
        <ion-card-title>
          <ion-textarea type="text" placeholder="Llave Combinada" name="combinedkey" [(ngModel)]="params.combinedkey" [disabled]="true"></ion-textarea>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="action-card">
      <ion-card-header>
        <ion-card-subtitle>Componente Uno:</ion-card-subtitle>
        <ion-card-title>
          <ion-textarea type="text" placeholder="Componente Uno" name="componentone" [(ngModel)]="params.componentone" maxlength="32" pattern="^([a-fA-F0-9]+)$" required></ion-textarea>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card class="action-card">
      <ion-card-header>
        <ion-card-subtitle>Componente Dos:</ion-card-subtitle>
        <ion-card-title>
          <ion-textarea type="text" placeholder="Componente Dos" name="componenttwo" [(ngModel)]="params.componenttwo" maxlength="32" pattern="^([a-fA-F0-9]+)$" required></ion-textarea>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
    <br>
    <div style="position: relative;align-items: center;text-align: center;">
      <ion-button type="submit" (click)="generarClave()">
        Generar Clave
      </ion-button>
    </div>
    <br>
    <div style="position: relative;align-items: center;text-align: center;">
      <ion-button type="submit" (click)="combinarNumeros()">
        Combinar Claves
      </ion-button>
    </div>
  </ion-list>
</ion-content>